*
    margin: 0
    padding: 0
    box-sizing: border-box
    outline: none
    min-width: 0

    text-decoration: none
    font: inherit
    letter-spacing: inherit
    color: inherit
    line-height: 130%

code, kbd, samp, pre, tt, var, textarea, input, select, isindex, listing, xmp, plaintext
    white-space: normal

dfn, i, cite, var, address, em
    font-style: inherit

th, b, strong, h1, h2, h3, h4, h5, h6
    font-weight: inherit

a, img, a img, iframe, form, fieldset, abbr, acronym, object, applet, table
    border: none

table
    border-collapse: collapse
    border-spacing: 0

caption, th, td, center
    text-align: left
    vertical-align: top

q
    quotes: "" ""

ul, ol, dir, menu
    list-style: none

sub, sup
    vertical-align: baseline

hr
    display: none

font 
    color: inherit !important
    font: inherit !important

marquee 
    overflow: inherit !important
    -moz-binding: none

blink 
    text-decoration: none

nobr 
    white-space: normal

html
    overflow-x: hidden
