@use "vars"
@use "vars/vars-sass"
@use "vars/vars-flex"
@use "vars/vars-icon"
@use "vars/vars-mixins"
@use "vars/vars-mobile"
@use "vars/vars-z-index"

.icon
    transition: .2s
    transition-property: color
    width: 24px
    aspect-ratio: 1
