@import "globals"
@import "presets"
@import "icon"

body
    font-family: "Montserrat"
    // background-color: white
    color: #181818

// :root

html, body, main
    width: 100%
    min-height: 100%
    overflow: hidden
    // user-select: none
